<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="redis.service.name" value="RedisService"/>
		<add key="redis.service.displayname" value="Redis Service"/>
		<add key="redis.service.description" value="Running redis in background."/>
		<add key="redis.server" value="redis-server.exe"/>
		<add key="redis.conf" value="redis.windows.conf"/>
		<add key="redis.cli" value="redis-cli.exe"/>
		<add key="redis.path" value="D:\Cluster\redis-2.8.9"/>
	</appSettings>
</configuration>